<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canberra Restaurants</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link href="~/css/elastic_grid.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/css/mystyle.css" />
        <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Oxygen" rel="stylesheet" type="=text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Canberra Restaurants</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="Home" asp-action="Restaurants">Restaurants</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Cuisine">Cuisine</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Dishes">Dishes</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Prices">Prices</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Location">Location</a></li>
				    <li><a asp-area="" asp-controller="Home" asp-action="Reviews">Reviews</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <!-- main banner -->
    <section id="main-banner" class="@ViewData["id"] parallax_scrolling">
        <div class="dark_background">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <p class="oxygen">Canberra<br>Restaurants</p>
                </div>
                <div class="desc col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
						<p class="lato">@ViewData["Banner Desc"]</p> 
						<p class="niconne">@ViewData["Banner Title"]</p>     
                </div>
            </div>
        </div>
    </section>
    <!--end home banner -->
		
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Canberra Restaurants</p>
        </footer>
    </div>

@{
    if (User.IsInRole("User"))
    {
        //For review page (only for users)
        <script type="text/javascript">
                $(document).ready(function () {
                    var $this = $("#reviews li.review-items");

                    //Agree and disagree once
                    $(".breview").click(function () {
                        $(this).parents(".review-items").addClass("disabled");
                        setCookie("user-"+$(this).parents(".review-items").index(), "in", 2);
                    });

                    //If cookie exist disable button
                    for (var i = 0; i < $this.length; i++) {
                        if (getCookie("user-" + (i)) == "in") {
                            $("#reviews li.review-items").eq(i).find(".breview").attr("disabled","disabled").removeAttr("href");
                        }
                    }

                });
        </script>

    }

    //Deleting Cookies
    <script type="text/javascript">
            $(document).ready(function () {
                if ($("#logoutForm").length == 0) {
                    var $this = 150;
                    //Check if cookie exist
                    for (var a = 0; a < $this; a++) {
                        setCookie("user-"+a, "", 2);
                    }
                }
            });
    </script>
}

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/modernizr.custom.js"></script>
        <script src="~/js/classie.js"></script>
        <script src="~/js/elastic_grid.min.js"></script>
        <script src="~/js/cookie.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
